/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 99.9%; }

header {
  width: 100%;
  height: 16.66%;
  position: relative;
  background-color: #2980b9; }

main {
  width: 100%;
  height: 83%; }

.wrapperH6 {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 200%; }

.wrapperTable {
  width: 80%;
  margin-left: 10%;
  margin-top: 2%; }

table {
  width: 100%;
  margin-top: 10px; }
  table thead {
    width: 100%;
    height: auto;
    border-bottom: solid 2px #2980b9; }
    table thead tr {
      width: 100%; }
      table thead tr td {
        width: 24%;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 5px; }
        table thead tr td:nth-child(1) {
          width: 4%; }
        table thead tr td:nth-child(5) {
          width: 10%; }
        table thead tr td:nth-child(6) {
          width: 14%; }
  table tbody {
    width: 100%; }
    table tbody tr {
      width: 100%;
      height: auto; }
      table tbody tr:nth-child(1) td {
        padding-top: 10px; }
      table tbody tr td {
        width: 24%;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center; }
        table tbody tr td:nth-child(1) {
          width: 4%; }
        table tbody tr td:nth-child(5) {
          width: 10%; }
        table tbody tr td:nth-child(6) {
          width: 14%; }

.belize-hole-flat-button {
  position: relative;
  vertical-align: top;
  width: 50px;
  height: 25px;
  padding: 2px;
  border-radius: 5px;
  outline: 0;
  font-size: 12px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2980b9;
  border: 0;
  border-bottom: 2px solid #2475ab;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2475ab;
  box-shadow: inset 0 -2px #2475ab; }

.belize-hole-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.more {
  margin-left: 7px; }

table tbody tr:hover {
  background-color: gainsboro;
  cursor: pointer; }

.showMore {
  display: none; }

.showMoreAdd {
  z-index: 999;
  padding: 15px;
  display: block;
  position: absolute;
  top: 10%;
  left: 27.5%;
  width: 45%;
  height: 45%;
  background-color: #F5F5F5; }
  .showMoreAdd span {
    width: 45%;
    height: 11%;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    outline: 0; }
  .showMoreAdd .moreButtons {
    margin-top: 1%;
    margin-left: 43%; }
  .showMoreAdd .change {
    width: 90px; }

.backBtn {
  width: 30px;
  float: right; }

.wrapperAddButton {
  width: 100%;
  height: 40px;
  position: relative;
  margin-top: 20px; }
  .wrapperAddButton .addUser {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 120px; }

[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-placeholder);
  opacity: 0.5; }

select {
  outline: none;
  border: solid 1px #2980b9;
  border-radius: 3px; }

.showSelect .addSelect {
  margin-top: 10px; }

.modal {
  opacity: 1;
  width: 100%;
  height: 100%; }

.modalAdd {
  display: inline-block;
  position: relative;
  background-color: #F5F5F5;
  opacity: 0.6;
  z-index: -1; }

.spanId, .spanName, .spanUserName, .spanEmail, .spanCity, .spanPhone, .spanWebSite, .showSelect {
  color: #2980b9; }

/*# sourceMappingURL=main.css.map */
