@import 'reset.scss';

$main-color: #2980b9;

html,body {
  height: 99.9%;
}

header {
  width: 100%;
  height: 16.66%;
  position: relative;
  background-color:$main-color;
}

main {
  width: 100%;
  height: 83%;
}

.wrapperH6 {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 200%;
}

.wrapperTable {
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
}

table {
  width: 100%;
  margin-top: 10px;
  thead {
    width: 100%;
    height: auto;
    border-bottom: solid 2px $main-color;
    tr {
      width: 100%;
      td {
        &:nth-child(1) {
          width: 4%;
        }
        &:nth-child(5) {
          width: 10%
        }
        &:nth-child(6) {
          width: 14%;
        }
        width: 24%;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 5px;
      }
    }
  }
  tbody {
    width: 100%;
    tr {
      &:nth-child(1) {
        td {
          padding-top: 10px;
        }
      }
      width: 100%;
      height: auto;
      td {
        &:nth-child(1) {
          width: 4%;
        }
        &:nth-child(5) {
          width: 10%
        }
        &:nth-child(6) {
          width: 14%;
        }
        width: 24%;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
      }
    }
  }
}

.belize-hole-flat-button {
  position: relative;
  vertical-align: top;
  width: 50px;
  height: 25px;
  padding: 2px;
  border-radius: 5px;
  outline: 0;
  font-size: 12px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2980b9;
  border: 0;
  border-bottom: 2px solid #2475ab;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2475ab;
  box-shadow: inset 0 -2px #2475ab;
}
.belize-hole-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.more {
  margin-left: 7px;
}

table {
  tbody {
    tr:hover {
      background-color: gainsboro;
      cursor: pointer;
    }
  }
}

.showMore {
  display: none;
}

.showMoreAdd {
  z-index: 999;
  padding: 15px;
  display: block;
  position: absolute;
  border: solid 2px $main-color;
  top: 10%;
  left:27.5%;
  width:45%;
  height: 45%;
  background-color: #F5F5F5;
  span {
    width: 45%;
    height: 11%;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    outline: 0;
  }
  .moreButtons {
    margin-left: 43%;
  }
  .change {
    width: 90px;
  }
}

.backBtn {
  width: 30px;
  float: right;
}

.wrapperAddButton {
  width: 100%;
  height: 40px;
  position: relative;
  margin-top: 20px;
  .addUser {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 120px;
  }
}

[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-placeholder);
  opacity: 0.5;
}

select {
  outline: none;
  border: solid 1px $main-color;
  border-radius: 3px;
}

.showSelect .addSelect {
  margin-top: 10px;
}

.modal {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.modalAdd {
  display: inline-block;
  position: relative;
  background-color: #F5F5F5;
  opacity: 0.6;
  z-index: -1;
}

.spanId, .spanName, .spanUserName, .spanEmail, .spanCity, .spanPhone, .spanWebSite, .showSelect {
  color: $main-color;
}

.clarify {
  display: none;
}

.clarifyAdd {
  border: solid 2px $main-color;
  span {
    margin-top: 3%;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: $main-color;
  }
  position: absolute;
  display: block;
  top: 30%;
  left:40%;
  width:20%;
  height: 10%;
  margin-top: 20px;
  background-color: #F5F5F5;
  z-index: 999;
  .clarifyBtn {
    button {
      margin-top: 4%;
    }
    position: absolute;
    left: 0;
    right: 0;
    width: 39%;
    margin: auto;
  }
}

